.Cart {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.cart-items-container {
    width: 70%;
    max-width: 800px;
    padding: 30px 0 5vw 0;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 700;
    color: var(--grey);
}

.cart-key-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
    grid-gap: 30px;
    width: 90%;
    margin-bottom: 10px;
}

.cart-key-title {
    grid-column: span 3;
}

.cart-border {
    width: 100%;
    border-bottom: 2px solid var(--greyoutline);    
}

.cart-total-checkout {
    width: calc(90% - 30px);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 20px;
    gap: 40px;
    font-weight: 600;
    font-size: 24px;
    color: var(--offblack);
}