.CartCard {
    width: 100%;
    border-bottom: 2px solid var(--greyoutline);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    color: var(--offblack);
}

.cartcard-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
    grid-gap: 30px;
    width: 90%;
    margin: 2vw;
}

.cartcard-image {
    object-fit: contain;
    width: 100%;
    height: auto;
    max-height: 100%;
}

.cartcard-title {
    grid-column: span 2;
}

.cartcard-quantity-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cartcard-quantity {
    position: relative;
    bottom: 3px;
    max-height: 20px;
    max-width: 50px;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    border: 1px solid var(--darkgrey);
    border-radius: 2px;
}

.cartcard-quantity-button-container {
    display: flex;
    gap: 4px;
}

.cartcard-quantity-button {
    min-width: 24px;
    border: 1px solid var(--darkgrey);
    border-radius: 2px;
    text-align: center;
    cursor: pointer;
}

.cartcard-remove {
    width: 30px;
    height: auto;
    position: relative;
    bottom: 6.5px;
    cursor: pointer;
    color: var(--offblack);
}

@media screen and (max-width: 680px) {
    .CartCard {
        border-top: 2px solid var(--greyoutline);  
    }
    .cartcard-container {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-bottom: calc(-30px);
    }
    .cartcard-image {
        max-height: 100px;
    }
    .cartcard-remove {
        left: calc(50% - 30px);
        bottom: 53px;
    }
}