.ProductDetail {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.productdetail-container {
    width: 70%;
    max-width: 800px;
    padding: 10vh 5vw;
    background-color: var(--white);
    display: flex;
    gap: 5vw;
    align-items: flex-start;
}

.productdetail-image {
    width: 40%;
    height: auto;
    object-fit: contain;
}

.productdetail-title {
    font-weight: 700;
    font-size: 24px;
    color: var(--offblack);
    margin-bottom: 30px;
}

.productdetail-price {
    font-weight: 600;
    font-size: 24px;
    color: var(--offblack);
    margin-bottom: 24px;
}

.productdetail-description-title {
    font-weight: 600;
    font-size: 20px;
    color: var(--offblack);
    margin-bottom: 10px;
}

.productdetail-description {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 20px;
}

.productdetail-button-container {
    width: 100%;
}

@media screen and (max-width: 800px) {
    .productdetail-container {
        width: 80%;
    }
}

@media screen and (max-width: 800px) {
    .productdetail-container {
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }
    .productdetail-button-container {
        margin-top: 40px;
        display: flex;
        justify-content: center;
    }
}
